<html>
	<head>
		<title>Chat Applications</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		
	</head>
	<body>
		<div class="row">
			<div id="addBar">
				
				<input type="button" id="addBtn" value="Add"><input id="name" type="text"  placeholder="Please enter your Name">
			</div>
		</div>
		
		<div class="row">
			<div id="chatBars">
				<ul class="chatGroup">
					<!--  Template -->
				</ul>
			</div>
		</div>
		<div id="template">
			<li>
				<div class="chatBox">
					<div class="header">
						<span></span>
						<a class="subscriberBtn">Leave</a>
					</div>
					<div class="window">
						<ul class="chatList">
							
						</ul>
					</div>
					<div class="msgBox">
						<input type="text" class="msgBoxInp" placeholder="Enter the msg">
						<button type="button" class="msgBoxBtn" value="Send">SEND</button>
					</div>
				</div>
			</li>
			
		</div>
		
	</body>
	<script type="text/javascript" src="../javascript/vendor/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../javascript/custom/pubSub.js"></script>
	<script type="text/javascript" src="../javascript/custom/user.js"></script>
	<script type="text/javascript" src="../javascript/custom/chatBox.js"></script>
	<script type="text/javascript" src="../javascript/custom/main.js"></script>
</html>